.ui-igvalidator, .ui-widget .ui-igvalidator{ font-size:0.8em; padding:3px; white-space:nowrap; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
.ui-igvalidator-icon, .ui-widget-content .ui-igvalidator-icon, .ui-widget .ui-igvalidator-icon{ display:inline-block; border:none; position:absolute; }
.ui-igvalidator-target{ border-color:#d05050; }
