.ui-igedit{}
.ui-igedit-field{ border:1px solid #aaaaaa; outline:0; }
.ui-igedit-textarea{ resize:none; overflow:auto; }
.ui-igedit-focus{ background-color: #ffffff; }
.ui-igedit-bordercolor{ border-color: #aaaaaa; }
.ui-igedit-negative{ color:#e00000; }
.ui-igedit-nullvalue{ color:#999999; }

.ui-igedit-fieldincontainer{ height:18px; float:left; padding-top:0px; padding-bottom:0px; margin:0px; }
.ui-igedit-spinholder{ display:inline-block; float:left; }
.ui-igedit-spinbutton{ display:block; width:14px; height:8px; overflow:hidden; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }
.ui-igedit-spinbuttonimage{ border:0px; background-color:transparent; margin-left:-1px; margin-top:-4px; display:block; }
.ui-igedit-button{ display:inline-block; width:14px; float:left; height:18px; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }
.ui-igedit-buttonimage, .ui-widget .ui-igedit-buttonimage{ border:0px !important; background-color:transparent; margin-left:-1px; margin-top:2px; display:block; }
.ui-igedit-buttonsimagestateoverride{ filter:alpha(opacity=50); opacity:0.5; }

.ui-igedit-dropdown{ z-index:100000; }
.ui-igedit-list{ font-size:0.8em; background-image:none; }
.ui-igedit-listitem, .ui-widget .ui-igedit-listitem{ border-width:0px; background-image:none; padding-left:2px; cursor:default; }
.ui-igedit-listitemcolumnborder, .ui-widget .ui-igedit-listitemcolumnborder{ border-right-width:1px; }
