/* css for grid widget */

.ui-iggrid {
    background-image: none;
	border:none;
}
.ui-iggrid-table {table-layout:fixed; width:100%;}
.ui-iggrid-headertable {table-layout:fixed; width:100%; }
.ui-iggrid table th, .ui-iggrid table td {overflow:hidden; vertical-align:middle /* reset to default value */;}
.ui-iggrid .ui-iggrid-headertable, .ui-iggrid .ui-iggrid-content, .ui-iggrid .ui-widget-content, .ui-iggrid-scrolldiv table {border:none;}
.ui-iggrid .ui-iggrid-content {width: 100%;}

.ui-widget-content.ui-iggrid-filterddlist 
{
    border: none; margin:0;
}

.ui-iggrid .ui-iggrid-headercaption, .ui-iggrid .ui-iggrid-footer, .ui-iggrid .ui-iggrid-toolbar {
    padding: 0.6em 0.4em;
    text-align: center;
}

.ui-iggrid th.ui-state-default, .ui-iggrid th.ui-state-hover, .ui-iggrid th.ui-state-active, 
.ui-iggrid th.ui-state-default a, .ui-iggrid th.ui-state-hover a, .ui-iggrid th.ui-state-active a {font-weight: normal; text-align:left;}

.ui-iggrid .ui-iggrid-footer, .ui-iggrid .ui-iggrid-toolbar {
	font-weight: normal;
    text-align: left;
	display:block;
}

.ui-iggrid th, .ui-iggrid th.ui-state-default, .ui-iggrid th.ui-state-hover, .ui-iggrid th.ui-state-active {text-align:left;}
.ui-iggrid table tbody td, .ui-iggrid .ui-iggrid-header, .ui-iggrid table th { padding: 4px; }
.ui-iggrid .ui-iggrid-tablebody td {border-width:1px; /*border:1px solid;*/}

.ui-iggrid table thead a {text-decoration:none;}

.ui-iggrid td.ui-state-highlight, .ui-iggrid td.ui-state-hover{
	border-width:1px;
	font-weight:normal;
}
.ui-iggrid td.ui-state-highlight p {}

.ui-iggrid .ui-iggrid-footer .ui-state-default, .ui-iggrid .ui-iggrid-toolbar .ui-state-default, .ui-iggrid .ui-iggrid-footer .ui-state-default a, .ui-iggrid .ui-iggrid-toolbar .ui-state-default a {text-decoration:none;}

.ui-iggrid .ui-iggrid-toolbar .ui-iggrid-results {
    float: right;
}
.ui-iggrid .ui-iggrid-footer .ui-iggrid-results {
    float: left;
}
.ui-iggrid .ui-icon, .ui-iggrid .ui-iggrid-paging {
    float: right;
}
.ui-iggrid .ui-iggrid-paging div, .ui-iggrid .ui-iggrid-paging span,  .ui-iggrid .ui-iggrid-paging li, .ui-iggrid .ui-iggrid-paging input, .ui-iggrid .ui-iggrid-results span, .ui-iggrid .ui-iggrid-results input{
    float: left; padding:0 3px; line-height: 1.4em;
}
a.ui-iggrid-pagelink, a.ui-iggrid-pagelinkcurrent {line-height: 1.4em;}
.ui-iggrid .ui-iggrid-paging .ui-icon, .ui-iggrid .ui-iggrid-results .ui-icon{
    padding:0; 
}
.ui-iggrid .ui-iggrid-paging-item, .ui-iggrid .ui-iggrid-results-item {float: left;}
.ui-iggrid .ui-iggrid-paging-item {position:relative; height:1.4em;}
.ui-iggrid .ui-iggrid-paging-item span {cursor:pointer;  -moz-user-select: none; -webkit-user-select: none; user-select: none;}
.ui-iggrid .ui-iggrid-paging-item span.ui-icon  {
    margin-left: -16px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
}
.ui-iggrid-nextpage .ui-icon, .ui-iggrid-lastpage .ui-icon {right:3px;}

/*padding left for paging items with icons to the left */
.ui-iggrid .ui-iggrid-paging .ui-iggrid-firstpage, .ui-iggrid .ui-iggrid-paging .ui-iggrid-prevpage{padding-left:20px;}
/*padding right for paging items with icons to the right */
.ui-iggrid .ui-iggrid-paging .ui-iggrid-nextpage, .ui-iggrid .ui-iggrid-paging .ui-iggrid-lastpage {padding-right:20px;}

.ui-iggrid-pagelist {padding: 0 6px;}
.ui-iggrid-pagelist li {margin:0 1px;}

.ui-iggrid-colindicator { padding-right: 4px; }

.ui-iggrid .ui-iggrid-filterbutton {float:left;}
.ui-iggrid th .ui-iggrid-filterbutton, .ui-iggrid .ui-iggrid-filterbuttonright {float: right; margin: 0 0 0 4px; }
.ui-iggrid-filtercell  {padding:4px 0; white-space: nowrap; } 
.ui-iggrid-filtercell .ui-igedit-field {text-align:left; }
.ui-iggrid-scrolldiv {border-top:none!important; position:relative; min-height: 0%;}
.ui-iggrid-scrolldiv tbody {border:none!important}

.ui-iggrid-sortableheader>a, span.ui-iggrid-headertext { font-size:1em; float:left;}
.ui-iggrid-sortableheader .ui-iggrid-headertext { -moz-user-select: none; -webkit-user-select: none; user-select: none; }
.ui-iggrid-sortableheader { cursor: pointer; -moz-user-select: none; -webkit-user-select: none; user-select: none; }

/* remove paddings in nested tables */
.ui-iggrid-layout-helper>tbody>tr>td  {padding:0!important; background:none transparent!important; vertical-align:top;}

/*editors in grids*/
.ui-iggrid .ui-igedit-fieldincontainer, .ui-iggrid .ui-igedit-button  {height:1.4em;}
.ui-iggrid .ui-iggrid-results span, .ui-iggrid .ui-iggrid-pagedropdownlabels  {line-height:1.4em;}
.ui-iggrid .ui-igedit-button, .ui-iggrid-filtercell .ui-iggrid-indicatorcontainer a {float:left; position:relative; height:1.4em;}
.ui-iggrid .ui-igedit-buttonimage, .ui-iggrid-filtercell .ui-iggrid-filterbutton {
    margin-top: -8px!important;
    position: absolute;
    top: 50%;}

.ui-igedit-dropdown .ui-igedit-listitem.ui-state-default {} 
.ui-igedit-dropdown .ui-igedit-listitem {
    font-size: 1.1em!important;
    text-shadow:none;
}
.ui-iggrid .ui-iggrid-filtercell .ui-igedit {margin-left:18px;}

/*advanced filtering*/
.ui-iggrid-filterdd {padding:1px;}
.ui-iggrid-filterddlistitemadvanced {padding:7px 0; overflow:hidden;}
.ui-iggrid-filterddlistitemadvanced input { margin-right:7px;}

/* dialog */
.ui-iggrid-blockarea {z-index:200;}
.ui-iggrid-dialog {z-index:201;}

.ui-iggrid-filterdialogaddconditionlist {
    display: inline;
    padding:0 5px;
}

.ui-iggrid-filterdialogaddcondition {
	padding-top: 5px;
	padding-bottom: 10px;
}

.ui-iggrid-filtertable  td {
	/* override alternate colors for rows in this table */
	background-color: transparent!important;/*transparent so it works with any jquery UI theme*/
	border: none!important;
    vertical-align: top;
}

.ui-iggrid-filterrow {
	background-color: #CCCCCC;
}

.ui-iggrid td.ui-iggrid-filtercell {
	padding: 0;
	margin: 0;
	border:1px solid #ccc;
	border-top:none;
}

.ui-iggrid-filtercell input {
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	padding: 0;
	margin: 0;
}

.ui-iggrid-filterdialogclearall {
    text-decoration:underline;
    background:none;
    border:none;
    font-size:13px;
    color:inherit;
}

/* editing TD grid-cell */
/* NOTE: padding should be exactly the same as "ui-iggrid table tbody td" */
.ui-iggrid-editingcell {text-align:left !important; vertical-align:top !important; padding:4px; }
/* container of editor: margin-right/bottom can be modified, but not margin-left/top */
.ui-iggrid-editor { position:absolute; padding:0px !important; margin-right:0px; margin-bottom:0px; }
.ui-iggrid-buttoncontainer { white-space:nowrap; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
.ui-iggrid-button { display:inline-block; cursor: default; margin:5px; padding: 3px; white-space:nowrap; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
/* NOTE: padding should be exactly the same as "ui-iggrid table tbody td" */
.ui-iggrid-addrow { text-align:left !important; cursor: default; font-weight:normal; white-space:nowrap; padding:4px; }
.ui-iggrid-deletebutton { display:inline-block; white-space:nowrap; cursor: default; padding:3px !important; }
/* disable iggrid-icon float:right */
.ui-iggrid-doneicon { float:none !important; }
.ui-iggrid-cancelicon { float:none !important; }
.ui-iggrid-addrowicon { float:none !important; margin-right:5px; }
.ui-iggrid-deleteicon { margin-left:3px; margin-right:3px; float:none !important; }


/*dropdowns in grids*/
.ui-igedit-list .ui-igedit-listitem {font-size:1em; line-height:1.4em;}



/* Filtering icons */
.ui-iggrid-filterbutton {background: url(images/igGrid/filter-icons-333333.png) no-repeat -32px 0!important;}
th .ui-iggrid-filterbutton, .ui-iggrid-filterbuttonright {background: url(images/igGrid/filter-icons-FFFFFF.png) no-repeat -32px 0!important;}
                /* to remove this important we need to remove ui-icon and ui-icon-triangle-1-s from the filter button*/

.ui-iggrid-filtericon {display:block; width: 16px; height:16px;}
.ui-iggrid-filtericonstartswith {background: url(images/igGrid/filter-icons-333333.png) no-repeat -112px 0;}
.ui-iggrid-filtericondoesnotstartwith {background: url(images/igGrid/filter-icons-333333.png) no-repeat -128px 0;}
.ui-iggrid-filtericonendswith {background: url(images/igGrid/filter-icons-333333.png) no-repeat -144px 0;}
.ui-iggrid-filtericondoesnotendwith {background: url(images/igGrid/filter-icons-333333.png) no-repeat -160px 0;}
.ui-iggrid-filtericoncontains {background: url(images/igGrid/filter-icons-333333.png) no-repeat -176px 0;}
.ui-iggrid-filtericondoesnotcontain {background: url(images/igGrid/filter-icons-333333.png) no-repeat -192px 0;}
.ui-iggrid-filtericonequals {background: url(images/igGrid/filter-icons-333333.png) no-repeat -208px 0;}
.ui-iggrid-filtericondoesnotequal {background: url(images/igGrid/filter-icons-333333.png) no-repeat -224px 0;}

.ui-iggrid-filtericongreaterthanorequalto {background: url(images/igGrid/filter-icons-333333.png) no-repeat -240px 0;}
.ui-iggrid-filtericonlessthanorequalto {background: url(images/igGrid/filter-icons-333333.png) no-repeat -256px 0;}
.ui-iggrid-filtericongreaterthan {background: url(images/igGrid/filter-icons-333333.png) no-repeat -272px 0;}
.ui-iggrid-filtericonlessthan {background: url(images/igGrid/filter-icons-333333.png) no-repeat -288px 0;}
.ui-iggrid-filtericonlike {background: url(images/igGrid/filter-icons-333333.png) no-repeat -304px 0;}
.ui-iggrid-filtericonnotlike {background: url(images/igGrid/filter-icons-333333.png) no-repeat -320px 0;}
.ui-iggrid-filtericonmatch {background: url(images/igGrid/filter-icons-333333.png) no-repeat -336px 0;}
.ui-iggrid-filtericondoesnotmatch {background: url(images/igGrid/filter-icons-333333.png) no-repeat -352px 0;}
.ui-iggrid-filtericontoppercentile {background: url(images/igGrid/filter-icons-333333.png) no-repeat -368px 0;}
.ui-iggrid-filtericonbottompercentile {background: url(images/igGrid/filter-icons-333333.png) no-repeat -384px 0;}

/*boolean icons*/
.ui-iggrid-filtericontrue {background: url(images/igGrid/filter-icons-333333.png) no-repeat -48px 0;}
.ui-iggrid-filtericonfalse {background: url(images/igGrid/filter-icons-333333.png) no-repeat -64px 0;}
/* calendar icons */
.ui-iggrid-filtericonafter, .ui-iggrid-filtericonbefore, .ui-iggrid-filtericontoday, .ui-iggrid-filtericonyesterday, .ui-iggrid-filtericonthismonth, .ui-iggrid-filtericonlastmonth, .ui-iggrid-filtericonnextmonth, .ui-iggrid-filtericonthisyear, .ui-iggrid-filtericonlastyear, .ui-iggrid-filtericonnextyear, .ui-iggrid-filtericonon, .ui-iggrid-filtericonnoton {background: url(images/igGrid/filter-icons-333333.png) no-repeat -400px 0;}


/* Filter Menu */
.ui-iggrid-filterdd {-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0px 0px 8px rgba(212,212,212,1); box-shadow: 0px 0px 8px rgba(212,212,212,1); z-index: 100;}
.ui-iggrid-filterddlist {padding:0;}
.ui-iggrid-filterddlist li {position:relative; cursor:default; border:none; padding-right:6px; padding-left:25px; line-height: 1.5em; margin-bottom: 1px;}
.ui-iggrid-filtericoncontainer {
    margin-left: -22px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
}

.ui-iggrid-canceltextselection 
{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.ui-iggrid-virtualrow td 
{
    padding: 0px !important;
}